<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4RGXtyvYwbAc8OrcO6kb6yNxOwJbfQrI</string>
	<key>GCM_SENDER_ID</key>
	<string>795216558599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.screenstakeios.screenstakeios</string>
	<key>PROJECT_ID</key>
	<string>screenstake</string>
	<key>STORAGE_BUCKET</key>
	<string>screenstake.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795216558599:ios:e9e40290217d03833888a2</string>
</dict>
</plist>